<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful Registration</title>
</head>
<body>
    <div class="">
        <p>Hi {{name}}</p>,
        <p>Thanks for successfully registering for our waitlist</p>
    </div>
</body>
</html>